#svgContainer {
  display: inline-block;
  height: 15em;
  width: 30em;
}

ace-editor {
  display: inline-block;
  height: 20em;
  width: 15em;
}

.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
